@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ku-navy: #003087;
  --color-ku-dark: #002266;
  --color-ku-light: #f0f4f8;
  
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
}
